--- Vivado Temporary Files ---

*.log
*.jou
*.str
*.os
*.vdi
*.pb
*.bit
*.bin
*.sys
*.dcp

--- Vivado Project Folders ---

.Xil/
*.runs/
*.srcs/
*.gen/
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.sdk/
*.ioplanning/

--- Python/Environment ---

pycache/
.venv/
.vscode/